@CHARSET "UTF-8";

.menu-onglet,
.menu-onglet>li{
	position:relative;
}

.menu-onglet .sous-menu{
	display:none;
	position:absolute;
	top:100%;
	left:0px;
}

.menu-onglet .sous-menu li{
	display:block;
}

#menu
{
	position:absolute;
	width:989px;
}

.menu-onglet .onglet-select
{
	background-color: rgba(254, 254, 254, 0.4);
}


